// Main color
$main_color: #3d444b;
$secondary_color: #2285c3;
$tertiary_color: #7ecdfc;
$image_bg_color: #fef5e4;
$highlight_color: #fe7e66;
$waring_color: #ff4436;
$blue1_color: #2b69cc;
$green_color: #6BEBB5;
// Gray scale
$black: #1a1a1a;
$grey1: #4d4d4d;
$grey2: #808080;
$grey3: #b3b3b3;
$disable_color_grey: #e6e6e6;
$disable_color_grey2: #c6c6c6;
$white: #ffffff;